<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">

    <title>Browse Terms</title>
</head>
<body>
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="nav-bar">
        <div class="nav-item">
            <h3>Welcome {{ session['first_name'] }}</h3>
            <a class="nav-item" href="/logout" style="text-decoration: none;"><button class="btn">Log out</button></a>
        </div>
        <div class="nav-item"><a href="/">home</a></div>
        <div class="nav-item"><a class="nav-item"href="/browse_terms">browse saved terms</a>
        </div>
        <form class="nav-item" action="/search_terms" method="post" style="display:inline;">
            <input type="text" name="search_terms">
            <button class="btn">search saved terms</button>
        </form>
    </div>
    <div class="container">
        {% if list_of_term_dicts|length == 0 %}
        <div>
            You have no translated phrases yet. <a href="/">Translate some stuff</a> to see it here!
        </div>
        {% else %}
            {% for dict in list_of_term_dicts %}
            <div>
                {% for letter in dict.keys() %}
                <div>
                    <a class="big-letter" href="/view_terms_by_letter/{{letter}}">{{ letter }}</a>
                    {% for v in dict.values() %}
                    <span>
                        {% for term, object in v.items() %}
                        <a href="/view_term/{{object.id}}">{{ term }}</a>
                        {% endfor %}
                    </span>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        {% endif %}
    </div>
    
</body>
</html>