<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">

    <title>Browse Terms</title>
</head>
<body>
    <div class="container">
        
        {% for dict in list_of_term_dicts %}
        <div>
            {% for letter in dict.keys() %}
            <div>
                <a href="/view_terms_by_letter/{{letter}}">{{ letter }}</a>
                {% for v in dict.values() %}
                <span>
                    {% for term, object in v.items() %}
                    <a href="/view_term/{{object.id}}">{{ term }}</a>
                    {% endfor %}
                </span>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
    
</body>
</html>