<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">

    <title>Index</title>
</head>
<body>
    <div class="nav-bar">
        Welcome {{ session['first_name'] }}
        <a href="/">Home</a>
        <a href="/browse_terms">browse saved terms</a>
        <form action="/search_terms" method="post">
            <label for="search_terms"></label>
            <input type="text" name="search_terms">
            <button>search saved terms</button>
        </form>
        <a href="/logout"><button>Log out</button></a>
    </div>
    <div class="container">
        <h1>Bienvenue Welcome</h1>
        <form onsubmit="translateMe(event)">
            <input type="text" name="term" id="term-to-translate">
            <input type="submit" value="Translate">
        </form>
        <div id="result-div" style="display:none;">
            <form action="/save_translation" method="post" id="translation-result">
                <label for="english">English</label>
                <input type="text" name="english" id="english" value="">
                
                <label for="french">French</label>
                <input type="text" name="french" id="french" value="">
                <textarea name="notes" cols="30" rows="10" placeholder="Any notes you'd like to make about this translation?"></textarea>
                <button>Save Translation</button>
            </form>
        </div>
        <div class="terms">
            {% for term in terms %}
            <p><a href="/view_term/{{term.id}}">{{ term.en }}</a> <a href="/view_term/{{term.id}}">{{ term.fr }}</a></p>
            {% endfor %}
        </div>
    </div>
    

    <script src="static/script.js"></script>    
</body>
</html>