<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">

    <title>Index</title>
</head>
<body>
    <div class="flash-messages">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="error">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>

    <div class="nav-bar">
        <div class="nav-item">
            <h3>Welcome {{ session['first_name'] }}</h3>
            <a class="nav-item" href="/logout" style="text-decoration: none;"><button class="btn">Log out</button></a>
        </div>
        <div class="nav-item"><a href="/">home</a></div>
        <div class="nav-item"><a class="nav-item"href="/browse_terms">browse saved terms</a>
        </div>
        <form class="nav-item" action="/search_terms" method="post" style="display:inline;">
            <input type="text" name="search_terms">
            <button class="btn">search saved terms</button>
        </form>
    </div>


    <div class="container">
        <h1><i>Bienvenue</i> Welcome</h1>
        <form onsubmit="translateMe(event)">
            <input type="text" name="term" id="term-to-translate" class="gradient-magic" placeholder="Type text to be translated here..." required>
            <input class="btn" type="submit" value="Translate">
        </form>
        <div id="waiting" style="display:none;">
            <iframe src="https://giphy.com/embed/jsfBiYnT0asLZNxqMZ" width="190px" height="150px" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
        </div>
        <div id="result-div" style="display:none;">
            <form action="/save_translation" method="post" id="translation-result">
                <div>
                    <label for="english">English</label>
                    <input type="text" name="english" id="english" value="">
                </div>
                
                <div>
                    <label for="french">French</label>
                    <input type="text" name="french" id="french" value="">
                </div>

                <textarea name="notes" cols="30" rows="10" placeholder="Any notes you'd like to make about this translation?"></textarea>
                <div><button class="btn">Save Translation</button></div>
            </form>
        </div>
        <div class="terms">
            <div class="decorative">Recently translated phrases...</div>
            <table>
                <thead>
                <tr>
                    <th>English</th>
                    <th>French</th>
                </tr>
                </thead>
                <tbody>
                {% for term in terms %}
                    <tr>
                        <td><a class="english" href="/view_term/{{term.id}}">{{ term.en }}</a></td>
                        <td><a class="french" href="/view_term/{{term.id}}">{{ term.fr }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>            
        </div>
    </div>
    

    <script src="static/script.js"></script>    
</body>
</html>