<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">

    <title>View Term</title>
</head>
<body>
    <div class="nav-bar">
        Welcome {{ session['first_name'] }}
        <a href="/">home</a>
        <a href="/browse_terms">browse saved terms</a>
        <form action="/search_terms" method="post">
            <label for="search_terms"></label>
            <input type="text" name="search_terms">
            <button class="btn">search saved terms</button>
        </form>
        <a href="/logout" style="text-decoration: none;"><button class="btn">Log out</button></a>
    </div>
    <div class="container">
        <div>English: <span class="english">{{ term.en }}</span></div>
        <div>French: <span class="french">{{ term.fr }}</span></div>
        <div>
            <form action="/update_term" method="post">
                <input type="hidden" name="id" value="{{term.id}}">
                <label for="notes">Notes:</label>
                <textarea name="notes" cols="30" rows="10" oninput="activateSave()">{{ term.notes }}</textarea>
                <button class="save-term btn" style="display:none;">Save</button>
            </form>
            <div><a class="no-underline" href="/delete/{{term.id}}"><button class="btn">Delete</button></a></div>
        </div>
    </div>
    <script src="/static/script.js"></script>
</body>
</html>