* {
    margin: 0;
    padding: 0;
    /* border: 1px aquamarine dotted; */
}
button {
    all: unset;
    cursor: pointer;
}
body {
    font-family: sans-serif;
    background-color: #d1fdee;
}
h1 {
    font-size: 1.9em;
    text-align: center;
    margin-bottom: 20px;
}
h3 {
    display: inline-block;
    font-weight: 400;
}
div {
    margin: 7px 0;
}
input {
    border: 1px #cdcdcd solid;
    border-radius: 2px;
    padding: 2px 0 2px 4px;
}
input[type="text" i] {
    width: 50%;
}
textarea {
    padding: 5px;
    width: 90%;
}
table {
    background-color: white;
    padding: 7px;
    margin: 5px auto;
    border-radius: 3px;
    width: 100%;
}
th {
    font-weight: normal;
    padding: 3px;
}
td {
    padding: 3px;
    width: 50%;
}
.btn {
    padding: 1px 7px;
    border: 1px #cdcdcd solid;
    border-radius: 2px;
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: #474747;
    font-size: 14px;
    text-decoration: none;
    margin-top: 5px;
}
.form-btn {
    padding: 4px;
    width: 100%;
    border: 1px #cdcdcd solid;
    border-radius: 2px;
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: flex-start;
    text-align: center;
    cursor: default;
    box-sizing: border-box;
    background-color: buttonface;
    color: #474747;
    font-size: 16px;
    text-decoration: none;
    margin-top: 5px;
}
.nav-bar {
    padding: 8px;
}
.container {
    padding: 12px;
}
.terms {
    margin-top: 16px;
}
.english {
    color: #0c756c;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.french {
    color: #a5069f;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.results-item {
    color: #444444;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}
.big-letter {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-size: larger;
    margin-right: 6px;
}
.decorative {
    font-style: italic;
    font-size: smaller;
    color: #474747;
}
.welcome {
    text-align: center;
    margin-bottom: 20px;
}
.no-underline {
    text-decoration: none;
}
.gradient-magic {
    border-width: 4px;
    border-style: solid;
    border-image: linear-gradient(to right, goldenrod, darkorchid) 1;
}
.reg-or-log {
    padding: 12px;
    background-color: white;
}
.error {
    color: red;
    font-style: italic;
}
.flash-messages {
    text-align: center;
}
.flex-daddy {
    display: flex;
}
.flex-daddy > label {
    margin-right: 5px;
}
.flex-daddy > input {
    flex: 1;
}

@media (min-width: 501px) {
    /* h1 {
        color: red;
    } */
    h3 {
        margin-right: 10px;
    }
    table {
        padding: 60px;
    }
    th {
        padding-bottom: 25px;
        font-size: 20px;
        text-align: left;
    }
    input[name="term" i] {
        height: 18px;
        width: 100%;
    }
    textarea {
        width: 50%;
    }
    label {
        display: block;
    }
    .container {
        width: 60%;
        margin: 0 auto;
    }
    .nav-bar {
        width: 90%;
        margin: 7px auto 50px;
    }
    .nav-item {
        display: inline-block;
        margin-right: 20px;
    }
    .btn {
        /* display: inline; */
    }
    .reg-or-log {
        max-width: 590px;
        margin: auto;
    }
}

@media (max-width: 900px) {
    table {
        padding: 35px;
    }
    textarea {
        width: 100%;
    }
}
